:root {
    --additional: #171026;
    --background-basic: #F2D0D2;
    --acceptance: #EC5C2A;
    --warning: #DF3347;
    --confirmation: #329AAE;
}
* {
    margin: 0;
    padding: 0;
    color: var(--additional);
}

@font-face {
    font-family: 'Spectral ExtraBold';
    src: url('Fonts/Spectralextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral Medium';
    src: url('Fonts/Spectralmediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Commons Light';
    src: url('Fonts/TTCommons-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
/*---------------------------------------------------------------------------------------------------------------------*/
header{
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .nav h2{
    padding: 0 4vh;
}
#svg_logo {
    fill: var(--additional);
    width: 8vh;
}
/*---------------------------------------------------------------------------------------------------------------------*/
/*==[ DEBAG ]==*/
/*body {
    background-image: url("Images/Prototype.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
}*/
/*---------------------------------------------------------------------------------------------------------------------*/
.first-title {
    width: 100%;
    height: 90vh;
}
.first-title h1 {
    background-image: linear-gradient(50deg, var(--additional) 0%, var(--acceptance) 75%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    font-family: 'Spectral ExtraBold', Arial, serif;
    font-size: 5.5vh;
    line-height: 1;

    position: absolute;
    left: 20vh;
    top: 36vh;
}
.first-title br {
    line-height: 100;
}
.first-title h2 {
    font-family: 'TT Commons Light', Arial, serif;
    font-size: 2.5vh;

    position: absolute;
    left: 20vh;
    top: 50vh;
}

.first-title #circle-1{
    fill: var(--background-basic);
    position: absolute;
    opacity: .40;
    width: 58vh;
    z-index: -5;

    left: -11vh;
    top: 29vh;
}

.first-title #circle-2{
    fill: var(--background-basic);
    position: absolute;
    opacity: .40;
    width: 32vh;
    z-index: -5;

    right: 0;
    top: -20vh;
}

