*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aliceblue;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-size: 1.5ic;
}

.form-test{
    height: 100%;
    margin: 2rem;
}
.form-test p{
    margin: 15px;
    text-align: center;
}
.form-test p label{
    padding: 15px;
    width: 20px;
    height: 20px;
    margin: 5px;
    line-height: 20px;
    color: green;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

.focus--test:focus{
    background-color: black;
    color: whitesmoke;
}

.text-area{
    background-color: black;
    color: whitesmoke;
}

.text-area p{
    margin: 1em;
    width: auto;
    padding: 13px;
    font-family: "Comic Sans MS";
}

.text-area .place::placeholder{
    margin: 2em;
    color: brown;
    background-color: aqua;
    padding: .4cm;
}

