*{
    padding: 0;
    margin: 0;
}
/*====================================*/
.navbar {
    height: 50px;
    width: 100%;
}
.navbar .container{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 125px 15px 125px; /* Вверх -- Право -- Низ -- Лево */
    border-radius: 100px;
    background-color: rgba(185,189,156, 0.90);
}
.container img{
    height: 45px;
    width: 45px;
    margin-right: 3px;
}
.navbar-menu {
    list-style-type: none;
    margin-right: 50px;
}
.navbar-menu li{
    display: inline-block;
}
.navbar-menu li a{
    display: inline-block;
    color: rgb(73,104,88);
    font-size: 20px;
    text-decoration: none;
    padding: 10px 30px;
    transition: all .25s ease-in-out;
}
.navbar-menu li a:hover{
    color: rgb(29,40,34);
    transform: scale(1.05);
}
.navbar-wrap{
    display: flex;
    flex-flow: row nowrap;
    margin-right: 10px;
}
.navbar-brand{
    margin-left: 7px;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color: rgb(193,138,81);
    transition: all .25s ease-in-out;

    background-color: rgb(71,107,95);
    border-radius: 50px;
    padding: 5px 10px;
}
.navbar-brand:hover{
    transform: scale(1.05);
}
/*====================================*/
.site-banner{
    position: relative;
    margin-top: 25px;
    padding: 200px 0;
    display: flex;
}
.site-banner-titles{
    background-color: rgb(255, 255, 255);
    padding: 120px 50px 120px 25px;
    color: rgb(193,138,81);
    border-radius: 10px;
    margin-left: 250px;
}
.site-banner-titles h1{
    font-weight: 400;
    font-size: 54px;
    opacity: 1;
    margin: 0;
}
.site-banner-titles h2{
    font-weight: 200;
    margin-top: 15px;
    font-size: 24px;
    opacity: 0.75;
}
.site-banner img{
    border-radius: 25px;
    position: absolute;
    margin-right: 60px;
    height: 100%;
    z-index: -1;
    right: 0;
    top: 0;
}
/*====================================*/
.second-sector{
    margin-top: 25px;
    background-color: rgb(150, 150, 150);
    flood-color: rgb(0, 0, 0);
    display: block;
}
.second-sector-text{
    margin: 0 10% 0 15%; /* Вверх -- Право -- Низ -- Лево */
    padding: 20px;
}
.second-sector-text h3{
    margin-left: 40px;
    font-weight: 600;
    font-size: 32px;
    color: inherit;
    opacity: 1;
}
.second-sector-text p{
    font-weight: 100;
    margin-top: 10px;
    font-size: 24px;
    color: inherit;
    opacity: .70;
}