@font-face {
    font-family: 'TT Commons';
    src: url('Commons.ttf') format('truetype');
}
@font-face {
    font-family: 'Spectral ExtraBold';
    src: url('ectal/Spectral-ExtraBold.ttf') format('truetype');
}