@font-face {
    font-family: 'TT Commons';
    src: url('Fonts/Files/TTCommons.ttf') format('truetype');
}
@font-face {
    font-family: 'Spectral ExtraBold';
    src: url('Fonts/Files/Spectal/Spectral-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Versus';
    src: url('Fonts/Files/Versus.otf') format('truetype');
}