:root {
    --additional: #171026;
    --background-basic: #F2D0D2;
    --acceptance: #EC5C2A;
    --warning: #DF3347;
    --confirmation: #329AAE;
}
* {
    margin: 0;
    padding: 0;
    color: var(--additional);
}
@font-face {
    font-family: 'Spectral ExtraBold';
    src: url('/Fonts/Spectralextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Spectral Medium';
    src: url('/Fonts/Spectralmediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'TT Commons Light';
    src: url('/Fonts/TTCommons-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
/*---------------------------------------------------------------------------------------------------------------------*/
header{
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 8vh;
}
header .logo a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
header .logo h1{
    font-family: 'Spectral ExtraBold', Arial, serif;
    margin-left: 5vh;
    font-size: 3vh;
}
header .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18vh;
}
header .nav h2{
    font-family: 'TT Commons Light', Arial, serif;
    margin: 0 4.5vh;
}
header .nav h2 a {
    text-decoration: none;
}
#svg_logo {
    fill: var(--additional);
    width: 8vh;
}
/*---------------------------------------------------------------------------------------------------------------------*/
.first-title {
    width: 100%;
    height: 90vh;
}
.first-title h1 {
    background-image: linear-gradient(50deg, var(--additional) 0%, var(--acceptance) 75%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    font-family: 'Spectral ExtraBold', Arial, serif;
    font-size: 5.5vh;
    line-height: 1;

    position: absolute;
    left: 20vh;
    top: 36vh;
}
.first-title br {
    line-height: 100;
}
.first-title h2 {
    font-family: 'TT Commons Light', Arial, serif;
    font-size: 2.5vh;

    position: absolute;
    left: 20vh;
    top: 50vh;
}
/*---------------------------------------------------------------------------------------------------------------------*/
.first-title #circle-1{
    fill: var(--background-basic);
    position: absolute;
    opacity: .40;
    width: 58vh;
    z-index: -5;

    left: -11vh;
    top: 29vh;
}
.first-title #circle-2{
    fill: var(--background-basic);
    position: absolute;
    opacity: .40;
    width: 32vh;
    z-index: -5;

    right: 0;
    top: -20vh;
}
/*---------------------------------------------------------------------------------------------------------------------*/
.back {
    background: #0c0a26 url(/img/bg.png) 50% 0/calc(260px / 2) auto;
}
/*---------------------------------------------------------------------------------------------------------------------*/
.second-title {
    display: flex;

    flex-wrap: nowrap;
    flex-direction: column;


    width: 100%;
    height: 100vh;

    /*background: #171026;*/

    justify-content: center;
    align-items: flex-start;
    text-align: left;
}
.second-title .text {
    margin-left: 32vh;
}
.second-title h1 {
    font-family: 'Spectral ExtraBold', Arial, serif;
    font-size: 5.5vh;
    line-height: 1;
    color: #ffffff;
}
.second-title svg {
    padding: 2.5vh 0;
}
.second-title h2 {
    font-family: 'Spectral ExtraBold', Arial, serif;
    font-size: 4vh;
    line-height: 1;

    padding: 1.5vh;
    margin: 1.25vh 0;

    background-color: var(--background-basic);
    color: var(--additional);
}
.second-title p {
    font-family: 'TT Commons Light', Arial, serif;
    font-size: 2.5vh;
    margin: 0.75vh 0;
    color: var(--background-basic);
}
/*---------------------------------------------------------------------------------------------------------------------*/
.third-title {
    display: flex;

    flex-wrap: nowrap;
    flex-direction: column;

    width: 100%;
    height: 100vh;

    /*background: #171026;*/

    justify-content: center;
    align-items: flex-end;
    text-align: right;
}
.third-title .text {
    margin-right: 32vh;
}
.third-title h1 {
    font-family: 'Spectral ExtraBold', Arial, serif;
    font-size: 5.5vh;
    line-height: 1;
    color: #ffffff;
}
.third-title svg {
    padding: 2.5vh 0;
}
.third-title p {
    font-family: 'TT Commons Light', Arial, serif;
    font-size: 2.5vh;
    margin: 0.75vh 0;
    color: var(--background-basic);
}
.third-title svg {
    padding: 0;
    width: 8vh;
}
/*---------------------------------------------------------------------------------------------------------------------*/
footer {
    position: fixed;
    bottom: 2.5vh;
    left: 5vh;
}
footer a {
    text-decoration: none;
}
footer a svg {
    height: 5vh;
    width:  5vh;
    margin: 0 1vh;
    fill: var(--confirmation);
}
/*---------------------------------------------------------------------------------------------------------------------*/