.site-banner{
    position: relative;
    padding: 120px 0;
    height: auto;
}
.site-banner .site-banner--txt{
    height: 0;
    width: 0;
    padding: 80px 0;
}
.site-banner img{
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    object-fit: none;
    object-position: center;
    width: calc(65%);
    height: 437px;
}

/*======================{ MAIN }======================*/
.First{
    margin-top: 150px;
    margin-left: 50px;
    color: rgb(193,138,81);
    font-weight: 400;
}
.First h1{
    color: inherit;
    opacity: 1;
    font-size: 66px;

    display: flex;
    flex-direction: column;
}
.First span{
    color: inherit;
    opacity: .75;
    font-size: 64px;

    display: flex;
    flex-direction: column;
}
.Cont{
    display: flex;
    margin-top: 150px;
    margin-bottom: 150px;
    position: relative;
}
.Cont img{
    height: auto;
    width: auto;
    float: left;
}
.Cont .About{
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: space-between;

    font-weight: 200;
    font-size: 20px;
    color: rgb(29,40,34);
}
