
/*======================{ ОБНУЛЯЕМ }======================*/
body, header, nav, ul, li, p, a, h1, h2 {
    margin: 0;
    padding: 0;
}
/*======================{ ШАПКА САЙТА }======================*/
header {
    background-color: rgb(186,190,158);
    height: 60px;
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
    margin-left: 20px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header nav li {
    margin: 0 10px;
}

header nav a {
    text-decoration: none;
    color: rgb(115,135,98);
    font-weight: bold;
    padding: 22px;
    transition: background-color 0.5s ease;
}

header nav a:hover {
    background-color: rgb(233,229,226);
}

header nav a:focus {
    outline: none;
}

header nav a:active {
    color: red;
}
/*======================{ ПОДВАЛ САЙТА }======================*/
.bottom-panel{
    color: rgb(115,135,98);
    background-color: #aec4ad;
    padding: 20px;
    text-align: center;
}
.bottom-panel p{
    font-weight: bold;
    font-size: 16px;
    padding: 2px;
    margin: 5px 0;
}
.bottom-panel a{
    color: rgb(115,135,98);
    text-decoration: none;
}

/*======================{ MAIN }======================*/
.MainPG{
    font-family: 'Ubuntu', serif;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    background-color: rgb(209,207,195);
    padding: 25px;
    text-align: left;
    display: flex;
}
.MainPG h2{
    padding: 20px ;
    color: rgb(193,138,81);
}

.MainPG article{
    color: rgb(57,78,63);
    width: 45%;
    padding: 25px;
    font-size: 24px;
    margin: 14px 0;
}

.MainPG img{
    height: auto;
    width: auto;
    padding: 25px;
    margin: 14px 0;
}

