/*======================{ ДЭФОЛТ }======================*/
* {
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
/*======================{ ШАПКА САЙТА }======================*/
.navbar {
    position: relative;
    width: 100%;
    height: 50px;
}
.navbar .container{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 125px 0 125px; /* Вверх -- Право -- Низ -- Лево */
    border-radius: 50px;
    background-color: rgba(185,189,156, 0.90);
}
.navbar-menu {
    list-style-type: none;
    margin-right: 50px;
}
.navbar-menu li{
    display: inline-block;
}
.navbar-menu li a{
    display: inline-block;
    color: rgb(73,104,88);
    font-size: 20px;
    text-decoration: none;
    padding: 25px;
    transition: all .25s ease-in-out;
}
.navbar-menu li a:hover{
    color: rgb(29,40,34);
    transform: scale(1.05);
}
.navbar-wrap{
    display: flex;
    flex-flow: row nowrap;
    margin-right: 10px;
}
.navbar-brand{
    margin-left: 7px;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color: rgb(193,138,81);
    transition: all .25s ease-in-out;

    background-color: rgb(71,107,95);
    border-radius: 50px;
    padding: 5px 10px;
}
.navbar-brand:hover{
    transform: scale(1.05);
}
/*======================{ ПОДВАЛ САЙТА }======================*/
footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    background-color: rgb(185,189,156);
    padding: 30px 10%;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, .1);
    justify-content: center;
}
footer ul{
    list-style: none;
}
.footer-site{
    width: 25%;
}
.footer-site h4{
    position: relative;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 25px;
    color: rgb(73,104,88);
}
footer ul li:not(:last-child){
    margin-bottom: 8px;
}
footer ul li a{

    display: block;
    font-size: 19px;
    color: rgb(73,104,88);
    text-decoration: none;
    transition: all .25s ease-in-out;
}
footer ul li a:hover{
    color: rgb(29,40,34);
    padding-left: 4px;
}
.links a{
    display: inline-block;
    margin: 0 8px 8px 0;
    transition: all .25s ease-in-out;
}
.links a:hover{
    transform: scale(1.25);
}
.links img{
    height: 32px;
    width: 32px;
}
