:root {
    --additional: #171026;
    --background-basic: #F2D0D2;
    --acceptance: #EC5C2A;
    --warning: #DF3347;
    --confirmation: #329AAE;
}
* {
    margin: 0;
    padding: 0;
    color: var(--additional);
}
@font-face {
    font-family: 'Spectral ExtraBold';
    src: url('/Fonts/Spectralextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Spectral Medium';
    src: url('/Fonts/Spectralmediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'TT Commons Light';
    src: url('/Fonts/TTCommons-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
/*---------------------------------------------------------------------------------------------------------------------*/
header{
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 8vh;
}
header .logo a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
header .logo h1{
    font-family: 'Spectral ExtraBold', Arial, serif;
    margin-left: 5vh;
    font-size: 3vh;
}
header .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18vh;
}
header .nav h2{
    font-family: 'TT Commons Light', Arial, serif;
    margin: 0 4.5vh;
}
header .nav h2 a {
    text-decoration: none;
}
#svg_logo {
    fill: var(--additional);
    width: 8vh;
}
/*---------------------------------------------------------------------------------------------------------------------*/
footer {
    position: fixed;
    bottom: 2.5vh;
    left: 5vh;
}
footer a {
    text-decoration: none;
}
footer a svg {
    height: 5vh;
    width:  5vh;
    margin: 0 1vh;
    fill: var(--confirmation);
}
/*---------------------------------------------------------------------------------------------------------------------*/
.products {
    display: flex;
}
.container {
    margin: 10vh;
}
.box {
    padding: 2.5vh;

    border: #171026 1px solid;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.box img {
    width: 100%;
    height: 240px;
}
.box .cart {
    display: flex;
}
.box .cart .control svg {
    height: 2vh;
    width:  2vh;
    padding: 0 1vh;
}
.box .cart .number {
    width: 5vh;
}
.box .cart button {
    width: 20vh;
}
.box .cart .control{
    display: flex;
    flex-direction: column;
}